<!--- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-md-left">
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <h5 class="text-uppercase font-weight-bold">Autres services de <span class="logo">FindLove</span></h5>
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <p>Coaching</p>
                <p>Développement personnel</p>
                <p>Evénementiel</p>
                <p> <a routerLink="admin">Admin</a></p>
            </div>
            <div class="col-md-4 text-md-left">
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <h5 class="text-uppercase font-weight-bold">Liens Utiles</h5>
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <p><a routerLink="/home">Accueil</a></p>
                <p><a routerLink="/about">A propos</a></p>
                <p><a routerLink="/astuce">Astuces</a></p>
                <p><a routerLink="/temoignage">Témoignages</a></p>
            </div>
            <div class="col-md-4 text-md-left">
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <h5 class="text-uppercase font-weight-bold">Contactez Nous</h5>
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <p><i class="fas fa-home mr-3"></i>Avenue Kheredine Pacha,Tunis</p>
                <p><i class="fas fa-envelope mr-3"></i>FindLove@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i>+216 50 119 915</p>
            </div>
            <div class="col-12 text-center">
                <hr class="light bg-success mb-4 mt-0 d-inline-block mx-auto">
                <h5>&copy; 2020 <span class="logo">FindLove</span></h5>
                <p>Designed by Barthy-Bintou-Dimitri-Youssef</p>
            </div>
        </div>
    </div>
</footer>