<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <hr>
        <div class="col-12">
            <h1 class="display-4">Pourquoi choisir <span class="logo">FindLove</span> ?</h1>
        </div>
        <hr>
    </div>
</div>

<!--- Three Column Section -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col">
            <h3>Un large choix de célibataires</h3>
            <p>Sur FindLove vous trouverez de nombreux célibataires près de chez vous et grâce à notre moteur de recherche vous pourrez en quelques cliques trouver la perle rare. De nombreux critères vous permettent de filtrer efficacement les profils et
                trouver plus rapidement la personne qui vous correspond.</p>
        </div>
        <div class="col">
            <h3>Aucune dépense, pas d'abonnement !</h3>
            <p>Si vous cherchez un site de rencontre gratuit vous êtes sur le bon site. Vous n'aurez pas besoin de payer un abonnement pour rencontrer des célibataires et discuter avec eux, l'utilisation du chat ainsi que toutes les fonctions principales
                du site sont totalement gratuites.</p>
        </div>
    </div>
    <div class="row text-center padding">
        <div class="col">
            <h3>La sécurité, notre priorité !</h3>
            <p>Sur les sites de rencontres les arnaques sont fréquentes, nous surveillons en permanence l'activité du site afin de limiter les profils indésirables et les escroqueries. Pour cela une équipe de modérateurs contrôle tous les nouveaux profils
                manuellement et reste disponible 24h/24.</p>
        </div>
        <div class="col">
            <h3>Des rencontres sérieuses</h3>
            <p>Si pour vous "rencontre" rime avec sérieux, alors FindLove est fait pour vous ! Sur notre site de nombreux célibataires souhaitent également une relation à long terme. Nous préférons la qualité à la quantité, nous mettrons tout en œuvre pour
                que votre expérience soit la plus satisfaisante.</p>
        </div>
    </div>
</div>
