<div class="container-fluid padding">
    <div class="row welcome text-center">
        <hr>
        <div class="col-12">
            <h1 class="display-4">Connectez Vous</h1>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid padding">
    <form class="form-signin">
        <div class="form-group">
            <label for="Username">Pseudo</label>
            <input type="text" class="form-control" placeholder="Entrez votre pseudo" name="username">
        </div>
        <div class="form-group">
            <label for="Password">Mot de passe</label>
            <input type="password" class="form-control" placeholder=" Entrez votre mot de passe" name="password">
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
    </form>

</div>
