<!-- contact -->
<section class="contact">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <hr>
            <div class="col-12">
                <h1 class="display-4">Contactez Nous</h1>
            </div>
            <hr>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row">
            <div class="col-md-6">
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Nom *">

                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" placeholder="Email *">

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control" placeholder="Numéro de téléphone *">

                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" name="" id="">
                          <option selected>Pays</option>
                          <option>Tunisie</option>
                          <option>France</option>
                          <option>Maroc</option>
                          <option>Cameroun</option>
                          <option>Algérie</option>
                        </select>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-paper-plane"></i>
                         Envoyer</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-6 address">
                <h5>Appelez Nous / Whatsapp</h5>
                <p><a href="+21650119915"><i class="fas fa-phone mr-3"></i>+216 50 119 915</a></p>
                <h5>Email</h5>
                <p><a href="mailto:FindLove@gmail.com"><i class="fas fa-envelope mr-3"></i>FindLove@gmail.com</a></p>
                <h5>Adresse</h5>
                <p><i class="fas fa-home mr-3"></i>Avenue Kheredine Pacha,Tunis</p>
            </div>
        </div>
    </div>
</section>